# Day1_01 Pandas 将性别男女用0和1表示

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

以下为我们的原始数据集。gender 为性别列，需要将男女用 1 和 0 来替代。

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name': ['Tom', 'Lily', 'Lucy'], 
                   'gender': ['男', '女', '女']
                  })

In [3]:
df

   name gender
0   Tom      男
1  Lily      女
2  Lucy      女

------

1. 通过 pd.Series.map() 方法，将男女用 1 和 0 来替代

In [4]:
df1 = df.assign(gender=df.gender.map({'男': 1, '女': 0}))
df1

   name  gender
0   Tom       1
1  Lily       0
2  Lucy       0

2. 通过 df.replace() 方法，将男女用 1 和 0 来替代

In [5]:
df2 = df.replace({'男':'1', '女':'0'})
df2

   name gender
0   Tom      1
1  Lily      0
2  Lucy      0