# Day1_02 Pandas 将带有万和亿的数字转为整型

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

以下是源数据：

In [1]:
from io import StringIO
import pandas as pd

data = '''
       代码     名称      金额
0  300057   万顺新材   5.90亿
1    2758   浙农股份   4.62亿
2  603007   ST花王   2241万
3    2707   众信旅游   4.00亿
4  603617   君禾股份   3206万
5    2873   新天药业   4.05亿
'''

df = pd.read_csv(StringIO(data), delim_whitespace=True)
df

       代码    名称     金额
0  300057  万顺新材  5.90亿
1    2758  浙农股份  4.62亿
2  603007  ST花王  2241万
3    2707  众信旅游  4.00亿
4  603617  君禾股份  3206万
5    2873  新天药业  4.05亿

金额列中带有“亿”“万”等字样，需要将其转为整型

------

先将金额列中的“亿”和“万”用科学计数法替代，使用 eval() 计算每个值，最后将得到的结果转为整型

In [2]:
df['金额'] = df['金额'].str.replace('亿', '*1e8').str.replace('万', '*1e4')
df['金额'] = df['金额'].map(lambda x: eval(x)).astype(int)
df

       代码    名称         金额
0  300057  万顺新材  590000000
1    2758  浙农股份  462000000
2  603007  ST花王   22410000
3    2707  众信旅游  400000000
4  603617  君禾股份   32060000
5    2873  新天药业  405000000