# Day4_01 Pandas 增加汇总行

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

先构造数据如下：

In [1]:
import pandas as pd
import numpy as np

np.random.seed(999)
df = pd.DataFrame(np.random.randint(1.4, 10., size=(3, 4)),
                 columns=list('abcd'))
df

   a  b  c  d
0  1  6  2  9
1  2  4  1  6
2  9  9  1  6

我们需要增加一行汇总行，来对上面没列的数据进行汇总

------

In [2]:
df1 = df.copy()
df2 = df.copy()

方法 1：

In [3]:
df1.loc['all1'] = df1.sum()
df1

       a   b  c   d
0      1   6  2   9
1      2   4  1   6
2      9   9  1   6
all1  12  19  4  21

方法 2：

In [4]:
ser = df2.sum().rename('all2')
pd.concat([df2, ser.to_frame().T], axis=0)

       a   b  c   d
0      1   6  2   9
1      2   4  1   6
2      9   9  1   6
all2  12  19  4  21