# Day3_02 Pandas 获取 DataFrame 所有不重复值

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

源数据:

In [1]:
import pandas as pd

df = pd.DataFrame({'Col1': ['Bob', 'Joe', 'Bill', 'Mary', 'Joe'],
                   'Col2': ['Joe', 'Steve', 'Bob', 'Bob', 'Steve'],
                  })

df

   Col1   Col2
0   Bob    Joe
1   Joe  Steve
2  Bill    Bob
3  Mary    Bob
4   Joe  Steve

现在需要得到这两列数据中所有值的不重复值

------

1. 使用 pd.concat() 方法将两列数据合并成一个 DataFrame，再寻找唯一值

In [2]:
# 将Col2列接到Col1列下面
df1 = pd.concat([df['Col1'], df['Col2']], ignore_index=True)
df1

0      Bob
1      Joe
2     Bill
3     Mary
4      Joe
5      Joe
6    Steve
7      Bob
8      Bob
9    Steve
dtype: object

In [3]:
pd.unique(df1)

array(['Bob', 'Joe', 'Bill', 'Mary', 'Steve'], dtype=object)

2. 将两列数据使用展平再去重

In [4]:
pd.unique(df.values.flatten())

array(['Bob', 'Joe', 'Steve', 'Bill', 'Mary'], dtype=object)