# Day3_03 Pandas 分组按列统计数量

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

源数据如下：

In [1]:
import pandas as pd

df = pd.DataFrame({'分类': [*'AABBBA'],
                   '类型': [*'xxyzzz']})
df

  分类 类型
0  A  x
1  A  x
2  B  y
3  B  z
4  B  z
5  A  z

统计分类和类型的频数，以实现类似数据透视图的效果

------

In [2]:
(
    df.groupby(['分类', '类型'])
    .size()
    .unstack()
    .fillna(0)
    .astype(int)
)

类型  x  y  z
分类
A   2  0  1
B   0  1  2