# Day5_02 Pandas 删除在多列顺序不同的重复数据

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

源数据：

In [1]:
import pandas as pd

df = pd.DataFrame({'A':[25, 40, 50, 26, 65, 25],
                   'B':[26, 65, 100, 25, 40, 26]}
                 )
df

    A    B
0  25   26
1  40   65
2  50  100
3  26   25
4  65   40
5  25   26

索引 0 和 3、0 和 5、1 和 4 存在左右两列数据顺序不同的重复数据，尝试对整行数据进行删除

------

In [2]:
df.assign(C = df.apply(lambda x: tuple(sorted(x)), axis=1)).drop_duplicates(subset='C').drop('C', axis=1)

    A    B
0  25   26
1  40   65
2  50  100

整理后得到：

In [3]:
(
    df.assign(C = df.apply(lambda x: tuple(sorted(x)), axis=1))
    .drop_duplicates(subset='C')
    .drop('C', axis=1)
)

    A    B
0  25   26
1  40   65
2  50  100