# Day5_03 Pandas 增加一列每三行值相同

> 本文系参加《盖若 Python 训练营》的练习内容，训练营网址 https://www.gairuo.com/p/python-camp

源数据：

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'a':[25, 40, 50, 26, 65, 25, 50, 26, 26, 2]})
df

    a
0  25
1  40
2  50
3  26
4  65
5  25
6  50
7  26
8  26
9   2

以三行为一组进行标记，实现如下效果：
```
    a  b
0  25  0
1  40  0
2  50  0
3  26  1
4  65  1
5  25  1
6  50  2
7  26  2
8  26  2
9   2  3
```

------

In [2]:
np.arange(5)

array([0, 1, 2, 3, 4])

使用np.arange()生成数据：

In [3]:
# 增加b列为从1开始的序列
df.assign(b = np.arange(len(df)).repeat(3)[0:len(df)])

    a  b
0  25  0
1  40  0
2  50  0
3  26  1
4  65  1
5  25  1
6  50  2
7  26  2
8  26  2
9   2  3